.post-details-container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: white;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vh;
  margin-bottom: 30vh;
}

.post-details-header {
  text-align: left;
  padding-left: 10px;
  width: 100%;
}

.post-details-content {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.post-details-date {
  text-align: left;
  width: 100%;
  padding-left: 10px;
  font-size: 12px;
}

.post-details-hr{
  height: 1px;
  width: 90%;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
  padding-right: 5px;
}
